$myFont:Ubuntu;
$primary-color: #00001C;
$background-color: #105AA8;
$fontStack:Montserrat;
$stackColor: #177AE6;
$tertiary-color: #32C6FA;
$favorite-color:#FFFFFF;
$best-color:#55c57a;
$limited-color:#E6F8FF;
$dark-color:#FAFAFA;
$whine-color:#404040;
