.btn{
    &--active{
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 50px;
        font-size: 18px;
        border: 1px solid $stackColor;
        background-color: $favorite-color;
        box-shadow: 0 2px 2px 0 $stackColor, 0 2px 10px 0 $background-color;
        color: $stackColor;
        font-family: $myFont;
        font-weight: bold;
    }
    &--action{
        padding-left: 1.9em;
        padding-right: 1.9em;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 50px;
        font-size: 18px;
        border: 1px solid $stackColor;
        background-color: $background-color;
        box-shadow: 0 2px 2px 0 $stackColor, 0 2px 10px 0 $background-color;
        color: $favorite-color;
        font-family: $myFont;
        font-weight: bold;
        margin-top: 1em;
    }
    &--action:hover{
        background-color: $favorite-color;
        color: $stackColor;

    }
    &--text{
        text-align: center;
    }
}