.card{
    max-width: 1200px;
    margin: 2em auto;
    padding: 0 2em;
    grid-row-gap: 370px;
    grid-column-gap: 33px;
    -moz-column-gap: 40px;
    column-gap: 22px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
    grid-auto-rows: 92px;
    margin-top: 7em;

    &__heading{
        text-align: center;
        margin-top: 5em;
    }
    &__images {
        margin-bottom: 0.7em;
    }
    &__name{
        font-size: 25px;
        font-family: $myFont;
        color: $primary-color;
        font-weight: 100;
    }
    &__text{
        font-size: 20px;
        font-family: $myFont;
        color: $primary-color;
        font-weight: 100;
    }
    &__team{
        font-size: 50px;
        font-weight: bold;
        font-family: $myFont;
        color: $primary-color;
        margin-bottom: 1em;
    }
    &__messages{
        font-size: 25px;
        font-weight: 300;
        font-family: $myFont;
        color: $primary-color;
    }
}
a{
    text-decoration: none;
    color: $primary-color;
}
footer {
    margin-top: 23em;
}
